* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}
p {
  font-size: 1.25rem;
}
.hero-sec {
  width: 100%;
  height: 70rem;
  background-image: url(../img/00.png);
  background-color: #f6f6f6;
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 12rem;
}
.head-head {
  max-width: 23rem;
}
nav,
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.head li {
  padding-right: 4rem;
  list-style: none;
}
.head-head-link {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;

  font-family: "Roboto", sans-serif;
}
.head a:hover {
  color: #f7a21c;
}

.btn-orange {
  color: #ffffff;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.7rem;
  text-decoration: none;
  text-align: center;
  padding-top: 0.3rem;

  background-color: #f7a21c;
  width: 12rem;
  height: 2.5rem;
}

.btn-orange:hover {
  background-color: #fff;
  border: 3px solid #f7a21c;
  color: #f7a21c;
}
.hero-part {
  align-items: center;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero-txt img {
  max-width: 50rem;
  margin-left: 10rem;
}
.hero-txt {
  max-width: 50rem;
  color: rgba(3, 62, 128, 1);
}
.hero-txt h1 {
  font-size: 5rem;
}
.hero-box {
  align-items: center;
  justify-items: center;
  max-width: 45rem;
  height: 40rem;
  background-color: #c93131;
  border-radius: 2rem;
}

.about-img {
  max-width: 48rem;
}
.monygram {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.Subtitle-text {
  font-size: 2.5rem;
  color: rgba(3, 62, 128, 1);
}

.monygram img {
  max-width: 20rem;
  margin: 0 auto;
}
.head-contacts {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  list-style: none;
  gap: 1rem;
  max-width: 30rem;
  font-size: 3rem;
}
.head-contacts li {
  display: flex;
  gap: 1rem;
}
.head-contacts li i {
  color: #f7a21c;
}
.widget {
  padding: 1rem 1rem;
  justify-items: center;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  background-color: #ffffff;
  box-shadow: 20px 20px 50px 10px black;
  border-radius: 0.5rem;
  max-width: 80rem;
  height: 6rem;
  box-shadow: 1px 3px 11px -5px black;
}
.country-details {
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.country-name {
  color: #f7a21c;
  align-items: end;
}
.slider-circle {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 77rem;
}
.circle {
  margin-top: 0.5rem;
  background-color: #f7a21c;
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  font-size: 2.2rem;

  text-align: center;
}
.circle a {
  color: #fff;
  height: 0.5rem;
  text-decoration: none;
}
.circle:hover {
  background-color: #d68e1b;
}
.transfare {
  background-image: url(../img/Group\ 142.png);
  background-size: cover;
  margin: 3rem auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* height: 44rem; */
}

.transfare-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  width: 100rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.transfare-grid img {
  max-width: 35rem;
}
.m-tr {
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
.transfare-suptxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.transfare-boxes {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.bxtx {
  font-size: 1.3rem;
  color: #fff;
  border-radius: 10px;
  padding: 1rem 1rem;
  width: 22rem;
  height: 7rem;
  justify-content: center;
  align-items: center;
}
.box-right {
  background-color: #f7a21c;
}
.box-left {
  background-color: rgba(3, 62, 128, 1);
}
.bxtx span {
  font-size: 2.2rem;
  font-weight: bold;
}
.cta-link {
  color: #f7a21c;

  font-size: 1.7rem;
  text-decoration: none;
}
.cta-link:hover {
  text-decoration: underline;
}

.option-2 {
  padding-top: 3rem;
  background-color: #f6f6f6;
}

.box-white {
  background-color: #fff;
}
.bxtxx {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: rgba(3, 62, 128, 1);
  border-radius: 10px;
  padding: 1rem 1rem;
  width: 30rem;

  justify-content: center;
  /* align-items: center; */
  display: flex;
  gap: 1rem;
}
.bxtxx span {
  font-size: 2.2rem;
  font-weight: bold;
}
.bxtxx p {
  font-size: 1rem;
  padding-left: 0rem;
}
.bxtxx i {
  height: 3rem;
}
.icon {
  font-size: 4rem;
}

.we-help {
  padding: 3rem;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.boxes-help {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  max-width: 80rem;
  gap: 2rem;
}
.box-box-help {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 20px;
  height: 15rem;
}
.box-inside-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box-inside-text p {
  text-align: justify;
  font-size: 1rem;
  width: 85%;
}
.tastimonial {
  padding: 6rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f8a10c47;
  align-items: center;
  justify-items: center;
}
.tasti-text p {
  color: #f7a21c;
  font-weight: bold;
  font-size: 1.25rem;
}
.tasti-box {
  background-color: #fff;
  border-radius: 20px;
  width: 35rem;
  height: 15rem;
}
.txt-txt {
  padding: 2rem 2rem;
}
.tasti-box img {
  z-index: 1;
  width: 7rem;
  margin: -2rem -2rem;
}
.foater {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  margin: 2rem 3rem;
}
.head-head2 {
  width: 15rem;
}
.footer-logo p {
  font-size: 1rem;
  width: 16rem;
}
.footer-links ul {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  list-style: none;
  gap: 1rem;
}
.footer-links a {
  text-decoration: none;
  font-size: 1.25rem;
  color: black;
}
.footer-links h2 {
  color: #f7a21c;
  font-weight: bold;
}
.foater ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  list-style: none;
  gap: 1rem;
}
.contacts li {
  display: flex;
  gap: 0.25rem;
  font-size: 2rem;
  color: #f7a21c;
}
.foater ul li p {
  color: #050403;
}
.footer-last {
  display: flex;
  flex-direction: row;
  gap: 12rem;
  align-items: center;
  padding: 1rem 5rem;
}
.footer-last ul {
  display: flex;
  gap: 2rem;
}
.footer-last li {
  list-style: none;
  font-size: 1.25rem;
}
